<div class="container">
  <div class="form-container">
    <div class="title">Hesap olustur</div>
    <form [formGroup]="createUserForm">
      <mat-form-field appearance="outline">
        <mat-label>Emailinizi Giriniz</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
          <p *ngIf="f['email'].errors && f['email'].errors['required']">
            Email zorunludur
          </p>
          <p *ngIf="f['email'].errors && f['email'].errors['email']">
            Email formatini dogru giriniz
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kullanici adinizi Giriniz</mat-label>
        <input matInput formControlName="userName" />
        <mat-error>
          <p *ngIf="f['userName'].errors && f['userName'].errors['required']">
            Kullanici adi zorunludur
          </p>
          <p *ngIf="f['userName'].errors && f['userName'].errors['maxlength']">
            Kullanici adi 10 karakterden fazla olamaz
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Şifrenizi Giriniz</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error>
          <p *ngIf="f['password'].errors && f['password'].errors['required']">
            Password zorunludur
          </p>
          <p *ngIf="f['password'].errors && f['password'].errors['minlength']">
            Password min 8 karakter olmalidir
          </p>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button
        mat-raised-button
        [disabled]="createUserForm.invalid"
        class="login-button"
      >
        Kaydol
      </button>
      <p>Veya</p>
      <button mat-button routerLink="/login">Giriş Yap</button>
    </div>
    {{ createUserForm.value | json }}
  </div>
</div>
