<div class="container">
  <div class="content-wrapper">
    <mat-form-field appearance="fill">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        placeholder="Sorunuzu sorun..."
        [(ngModel)]="question"
      ></textarea>
    </mat-form-field>
    <div class="new-post-actions-container">
      <button
        (click)="submitQuestion()"
        mat-raised-button
        [disabled]="!question.trim()"
        class="post-button"
      >
        Sor
      </button>
    </div>

    <mat-card
      *ngFor="let q of questionList"
      [routerLink]="'/show-solutions/' + q.id"
      class="question-card"
    >
      <mat-card-content>
        <p class="username">{{ q.userName }}</p>
        <p>{{ q.question }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
